<div class="main-product">
  <div class="main-right" (click)="nothing($event)">
    <div class="title">
      Chi tiết sản phẩm
    </div>
    <div class="main">
      <div class="left">
        <a class="btn-group btn-detail" href="{{product.url}}" target="_blank">
          Mở Link sản phẩm 
        </a>
        <div class="summary">
          <img [src]="product.image">
          <a class="name-product" href="{{product.url}}" target="_blank">
            <p class="mg-b30">{{product.name}}</p>
          </a>
          <p class="price mg-b30">{{formatCurrency().format(product.price)}} VND</p>
          <p class="date-product mg-b30" *ngIf="product.date">{{product.date}}</p>
        </div>
        <div class="statistical">
          <p>Thống kê</p>
          <table class="table">
            <thead>
              <tr>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="product.thongke.vitri">
                <td class="display-space-between">
                  <div>
                    Vị trí
                  </div>
                  <div class="badge badge-info badge-pill">{{product.thongke.vitri}}</div>
                </td>
              </tr>
              <tr *ngIf="product.thongke.daban != null">
                <td class="display-space-between">
                  <div>
                    Đã bán
                  </div>
                  <div class="badge badge-info badge-pill">{{product.thongke.daban}}</div>
                </td>
              </tr>
              <tr>
                <td class="display-space-between">
                  <div>
                    Giá
                  </div>
                  <div class="badge badge-info badge-pill">{{formatCurrency().format(product.price)}}</div>
                </td>
              </tr>
              <tr *ngIf="product.thongke.giamax">
                <td class="display-space-between">
                  <div>
                    Giá cao nhất
                  </div>
                  <div class="badge badge-info badge-pill">{{formatCurrency().format(product.thongke.giamax)}}</div>
                </td>
              </tr>
              <tr *ngIf="product.thongke.giamin">
                <td class="display-space-between">
                  <div>
                    Giá thấp nhất
                  </div>
                  <div class="badge badge-info badge-pill">{{formatCurrency().format(product.thongke.giamin)}}</div>
                </td>
              </tr>
              <tr *ngIf="product.thongke.doanhthu">
                <td class="display-space-between">
                  <div>
                    Doanh thu
                  </div>
                  <div class="badge badge-info badge-pill">{{formatCurrency().format(product.thongke.doanhthu)}}</div>
                </td>
              </tr>
              <tr *ngIf="product.thongke.likes">
                <td class="display-space-between">
                  <div>
                    Lượt Thích
                  </div>
                  <div class="badge badge-info badge-pill">{{product.thongke.likes}}</div>
                </td>
              </tr>
              <tr *ngIf="product.thongke.kho">
                <td class="display-space-between">
                  <div>
                    Kho
                  </div>
                  <div class="badge badge-info badge-pill">{{product.thongke.kho}}</div>
                </td>
              </tr>
              <tr *ngIf="product.thongke.danhgia">
                <td class="display-space-between">
                  <div>
                    Đánh giá
                  </div>
                  <div class="badge badge-info badge-pill">{{product.thongke.danhgia}}</div>
                </td>
              </tr>
              <tr *ngIf="product.thongke.diemso">
                <td class="display-space-between">
                  <div>
                    Điểm số
                  </div>
                  <div class="badge badge-info badge-pill">{{product.thongke.diemso}}</div>
                </td>
              </tr>
              <tr *ngIf="product.thongke.luotxem">
                <td class="display-space-between">
                  <div>
                    Lượt Xem
                  </div>
                  <div class="badge badge-info badge-pill">{{product.thongke.luotxem}}</div>
                </td>
              </tr>
              <tr *ngIf="product.thongke.isshop">
                <td class="display-space-between">
                  <div>
                    Shop chính thức
                  </div>
                  <div class="badge badge-info badge-pill">{{product.thongke.isshop === 'false' ? '' : 'x'}}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="statistical" *ngIf="product.chuyenmuc.length > 0">
          <p>Chuyên mục</p>
          <table class="table">
            <thead>
              <tr>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cm of product.chuyenmuc">
                <td>{{cm}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="right">
        <div class="product-description">
          <p style="font-size: 17px">Mô tả sản phẩm</p>
          <p [innerHTML]="product.description"></p>
        </div>
        <div class="type-product" *ngIf="product.mausanpham.length > 0">
          <p>Mẫu sản phẩm</p>
          <table class="table">
            <thead>
              <tr>
                <th>
                  Tên
                </th>
                <th>
                  Mã
                </th>
                <th>
                  Giá
                </th>
                <th>
                  Kho
                </th>
                <th>
                  Đã bán
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of product.mausanpham">
                <td>{{item.ten}}</td>
                <td>{{item.ma}}</td>
                <td>{{item.gia}}đ</td>
                <td>{{item.kho}}</td>
                <td>{{item.daban}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="type-product" *ngIf="product.thuoctinh.length > 0">
          <p>Thuộc tính</p>
          <table class="table product-properties">
            <thead>
              <tr>
                <th>
                  Tên
                </th>
                <th>
                  Mã
                </th>
                <th>
                  Giá trị
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tt of product.thuoctinh">
                <td>{{tt.ten}}</td>
                <td>{{tt.ma}}</td>
                <td class="text-justify">{{tt.giatri}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="loading" *ngIf="isLoading">
    <div class="la-line-scale-pulse-out la-3x">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>